<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="paho-mqtt.js"></script>


</head>
<body>
<H2 th:text="'Monitoring, property: ' + ${property} " />


<button onclick="refreshPage()">REFRESH BEFORE EACH SUBSCRIPTION</button>
<hr>
<!--start of each subscription-->
<input id="topic" type="text"  name="topic"  th:value="${topicList.topicAddress.get(0)}" />
<p></p>
    <a>Last Update: <span id="Timestamp">No Updates </span></a>
<p></p>
    <a>Temperature: <span id="Temperature">Unknown</span> </a>
<p></p>
<!--    <button onclick="subscribe($('#topic').val())"> Subscribe</button>-->
<!--<hr>-->

<input id="topic2" type="text"  name="topic"  th:value="${topicList.topicAddress.get(1)}" />
<p></p>
<a>Last Update: <span id="Timestamp2">No Updates </span></a>
<p></p>
<a>Temperature: <span id="Temperature2">Unknown</span> </a>
<p></p>
<!--<button onclick="subscribe2($('#topic2').val())"> Subscribe</button>-->
<!--<hr>-->

<input id="topic3" type="text"  name="topic"  th:value="${topicList.topicAddress.get(2)}" />
<p></p>
<a>Last Update: <span id="Timestamp3">No Updates </span></a>
<p></p>
<a>Temperature: <span id="Temperature3">Unknown</span> </a>
<!--<p></p>-->
<!--<button onclick="subscribe3($('#topic3').val())"> Subscribe</button>-->

<!-- end of subscriptions-->

<div th:each="topic: ${topicList.topicAddress}">
<!--    <p id="topic" th:text="${topic}"></p>-->
<!--    <p th:text="${topic}" th:value="${topic}" id="topic"></p>-->
<!--    <p id="Timestamp">No Updates </p>-->
<!--    <p id="Temperature">Unknown</p>-->
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>-->

</body>
<script src="monitor.js"></script>
<script>
    $(document).ready(async function () {
    //     console.log("Subscribing");
    //
    //     // subscribe, requesting that message be delivered to function below
        let topic = $('#topic').val();
        let topic2 = $('#topic2').val();
        let topic3 = $('#topic3').val();
    //     console.log("Subscribe to " + topic);
    //     subscribeHomeMonitor(topic, processMonitorMessage);
    //     // // await new Promise(r => setTimeout(r, 2000));
    //     // subscribeHomeMonitor(topic2, processMonitorMessage2);
    //     // // await new Promise(r => setTimeout(r, 2000));
    //     // subscribeHomeMonitor(topic3, processMonitorMessage3);

        while (true) {
            subscribeHomeMonitor(topic, processMonitorMessage);
            await new Promise(r => setTimeout(r, 10000));

            subscribeHomeMonitor(topic2, processMonitorMessage);
            await new Promise(r => setTimeout(r, 10000));

            subscribeHomeMonitor(topic3, processMonitorMessage);
            await new Promise(r => setTimeout(r, 10000))
        }
            ;


    });

        function refreshPage(){
        window.location.reload();
    }


    function subscribe(topic) {
        // refresh

        console.log("Subscribing");

        // subscribe, requesting that message be delivered to function below
        console.log("Subscribe to " + topic);
        // if (client.isConnected()) {client.disconnect();}
        subscribeHomeMonitor(topic, processMonitorMessage);

    };
    function subscribe2(topic) {

        console.log("Subscribing");

        // subscribe, requesting that message be delivered to function below
        console.log("Subscribe to " + topic);
        // if (client.isConnected()) {
        //     client.disconnect();
        // }
        subscribeHomeMonitor(topic, processMonitorMessage2);

    };
    function subscribe3(topic) {

        console.log("Subscribing");

        // subscribe, requesting that message be delivered to function below
        console.log("Subscribe to " + topic);
        // if (client.isConnected()) {
        //     client.disconnect();
        // }
        subscribeHomeMonitor(topic, processMonitorMessage3);

    };

    // Exmple message processor

    function processMonitorMessage(message){
        console.log("processMonitorMessage:"+message.payloadString);
        let telemetry = JSON.parse(message.payloadString);

        // better done with lookup
        let suffix;
        if (message.topic.endsWith("living") ) {
            suffix = '';
        } else if (message.topic.endsWith("kitchen") ) {
            suffix = '3';
        } else {
            suffix = '2';
        }

        let timestampElement = '#Timestamp' + suffix;
        let temperatureElement = '#Temperature' + suffix;

        $(timestampElement).text( getFormattedDate(telemetry.date));
        $(temperatureElement).text(telemetry.temperature);
    }



    // function processMonitorMessage(message){
    //     console.log("processMonitorMessage:"+message.payloadString);
    //     let telemetry = JSON.parse(message.payloadString);
    //     $('#Timestamp').text( getFormattedDate(telemetry.date));
    //     $('#Temperature').text(telemetry.temperature);
    // }
    function processMonitorMessage2(message){
        console.log("processMonitorMessage:"+message.payloadString);
        let telemetry = JSON.parse(message.payloadString);
        $('#Timestamp2').text( getFormattedDate(telemetry.date));
        $('#Temperature2').text(telemetry.temperature);
    }
    function processMonitorMessage3(message){
        console.log("processMonitorMessage:"+message.payloadString);
        let telemetry = JSON.parse(message.payloadString);
        $('#Timestamp3').text( getFormattedDate(telemetry.date));
        $('#Temperature3').text(telemetry.temperature);
    }

    // Date formatter
    function getFormattedDate(dateToFormat) {

        let formatter = Intl.DateTimeFormat(
            "default", // a locale name; "default" chooses automatically
            {
                weekday: "short",
                year: "numeric",
                month: "short",
                day: "numeric",
                hour: "numeric",
                minute: "numeric"
            }
        );
        return formatter.format(dateToFormat);
    }

</script>
</html>
